header#header
    .logo
        <div class="header-logo"><img src="https://cdn.worldvectorlogo.com/logos/netflix-icon-2016-1.svg"id="header-img" width=50 height= 50></div>
    nav.header-nav#nav-bar
        ul.elems
            li.el: a.nav-link(href="#promo") Main
            li#series.el: a.nav-link(href="#series") Series
            li#contact.el: a.nav-link(href="#contact") Be in touch
            li#about.el: a.nav-link(href="#about") About
    button.btn-contact.btn.btn-primary.btn-lg Subscription