<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/4dc6de2dc7.js" crossorigin="anonymous")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lumen/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/style.min.css")
        
        title New World Order
    body
        include ../components/header
        block content
        include ../components/footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/ScrollToPlugin.min.js")
        script(src="./js/scriptGSAP.js")
